/* 
    font-family: 'Mulish', sans-serif;
    font-family: 'Comfortaa', cursive;
    font-family: 'Montserrat', sans-serif;
*/
:root{
    --font-title: 'Mulish', sans-serif;
    --font-subtitle: 'Comfortaa', cursive;
    --font-primary: 'Montserrat', sans-serif;

    --text-grey: rgb(160, 160, 160);
    --text-primary: black;

    --color-primary: rgb(99, 209, 244);
    --color-secondary: rgb(21, 21, 226);
    --color-exp-card: rgb(218, 215, 215);
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    -webkit-appearance: none;
    -moz-appearance: none;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
h1, h2, h3{
    font-family: var(--font-title)
}
h4, h5, h6{
    font-family: var(--font-subtitle)
}
a{
    text-decoration: none;
    color: var(--font-primary);
    outline: none;
}
ul{
    list-style: none;
}
input, textarea{
    outline: none;
}
textarea{
    resize: none;
}

/* Section Titles & Subtitles */

section{
    padding: 3% 0;
}
.section-name{
    margin-top: 3%;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-primary);
    font-size: 1.5rem;
}
.section-title, .section-subtitle{
    font-size: 2.5rem;
    text-align: center;
    margin: 1% 0;
}
.section-subtitle{
    font-weight: 400;
    font-size: 2rem;
    color: var(--text-grey);
}
#contact{
    padding-bottom: 0;
    overflow-y: hidden;
}
#portfolio{
    border-bottom: 1px solid var(--text-grey);
}

/* Navigation */

nav{
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    background: transparent;
    color: white;
    transition: .5s ease-in-out;
}
.solid-bg{
    background: var(--color-primary);
}
.solid-bg h1:hover{
    color: var(--color-secondary);
}
.solid-bg ul li:hover{
    color: var(--color-secondary);
}
nav h1{
    font-size: 2rem;
    text-transform: uppercase;
    white-space: nowrap;
    transition: .3  s ease-in-out;
}
nav h1:hover{
    color: var(--color-primary);
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}
nav ul li{
    font-size: 1.3rem;
    transition: .3s ease-in-out;
}
nav ul li:hover{
    color: var(--color-primary);
}

/* Burger & Navbar responsivenss */

.burger{
    display: none;
}
.sidebar{
    height: 100%;
    width: 100%;
    background: var(--color-primary);
    display: flex;
    position: fixed;
    top: 0;
    z-index: 2;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
    transform: translateX(100%);
}
.sidebar ul{
    margin-top: 10%;
    font-size: 2rem;
    text-align: center;
}
.sidebar ul li{
    margin: 50% 0;
    color: white;
    text-transform: uppercase;
    transition: .5s ease-in-out;
    font-weight: 500;
}
.sidebar ul li:hover{
    color: var(--color-secondary);
}
.translated{
    transform: translateX(0%);
}
.nav-relative{
    position: relative;
}

/* Hero */

.hero{
    background-image: url('./img/hero.png'); 
        -o-background-size: cover;
      -moz-background-size: cover;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    height: 100%;
}
.hero-overlay{
    background: rgba(0, 0, 0, 0.500);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.hero-info{
    position: absolute;
    top: 40%;
    left: 35%;
    color: white;
}
.hero-greeting{
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}
.hero-greeting h4{
    text-transform: uppercase;
    color: var(--color-primary);
    font-size: 1.25rem;
}
.hero-greeting .line{
    margin-left: 10px;
    width: 150px;
    height: 1px;
    background: var(--color-primary);
}
.hero-container{
    white-space: nowrap;
    display: flex;
    font-size: 1.75rem;
    align-items: center;
}
.hero-cta{
    font-size: 1.3rem;
    display: flex;
    flex-flow: column;
}
.hero-cta a{
    margin: 15px 50px;
    border: 3px solid white;
    padding: 3% 50px;
    text-align: center;
}
.hero-cta a:hover{
    border: 3px solid var(--color-primary);
    color: var(--color-primary);
}

/* About */

.about-container{
    width: 70%;
    margin: 3% auto;
    display: flex;
    align-items: flex-start;
}
.about-container .about-info{
    width: 50%;
}
.about-info h4, .about-exp h4{
    font-size: 2rem;
    margin-bottom: 1.5%;
}
.about-info p{
    font-size: 1.4rem;
    color: var(--text-grey);
}
.about-exp{
    width: 45%;
    margin-left: 5%;
}
.exp-card-container{
    display: flex;
    flex-wrap: wrap;
}
.exp-card{
    background: var(--color-exp-card);
    padding: 3%;
    margin: 1%;
    border-radius: 10px;
}

/* Portfolio */

.portfolio-container{
    width: 70%;
    margin: 5% auto;
    display: flex;
    flex-wrap: wrap;
}
.portfolio-container .portfolio-card{
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    border: 1px solid var(--text-grey);
    width: calc(45% - 2px);
    margin: 2.5%;
    border-radius: 20px;
}
.portfolio-card h2{
    margin-top: 3%;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}
.portfolio-card img{
    opacity: 1;
    display: block;
    transition: .5s ease-in-out;
    backface-visibility: hidden;
    width: 90%;
    margin: auto;
}
.portfolio-card p{
    width: 80%;
    margin: 3% auto;
    font-size: 1.25rem;
}
.portfolio-card .middle{
    background: rgba(0, 0, 0, 0.500);
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transition: .5s ease-in-out;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.middle .project-technologies{
    display: flex;
    width: 60%;
    margin: 5% auto;
    flex-wrap: wrap;
    justify-content: center;
}
.middle p{
    width: 60%;
    margin: 5% auto;
    color: white;
    font-size: 1.25rem;
}
.middle .project-cta{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 5% auto;
}
.project-cta a{
    color: white;
    font-size: 1.5rem;
    margin: 0 2.5%;
    border-radius: 25px;
    box-sizing: border-box;
    background: var(--color-primary);
    padding: 2% 10%;
}

/* Project overlay hover animations */

#pc-1:hover #pci-1, #pc-2:hover #pci-2, #pc-3:hover #pci-3, #pc-4:hover #pci-4{
    opacity: 0.3;
    transform: scale(1.1);
}
#pc-1:hover #m-1, #pc-2:hover #m-2, #pc-3:hover #m-3, #pc-4:hover #m-4{
    opacity: 1;
}

/* Contact */

.contact-container{
    display: flex;
    margin-top: -5%;
}
.contact-container img{
    width: 40%;
    height: 100%;
}
.contact-form-container{
    padding: 7.5% 10%;
    box-sizing: border-box;
    width: 60%;
    padding-bottom: 0;
}
.contact-form-container .section-name, .contact-form-container .section-title{
    text-align: end;
}
.contact-form-container form{
    display: flex;
    flex-flow: column;
    /* width: 80%;
    margin-left: 20%; */
}
.contact-form-container form input, .contact-form-container form textarea{
    margin: 2% 0;
    font-size: 1.5rem;
    padding: 1%;
}
.form-submit{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.social-links{
    display: flex;
    align-items: center;
    width: 60%;
}
.social-links a{
    display: grid;
    place-items: center;
    color: var(--color-primary);
    width: 50px;
    height: 50px;
    font-size: 2.5rem;
    margin: 0 3%;
}
.social-links a:hover{
    color: var(--color-secondary);
}
.form-submit input:hover{
    background: var(--color-secondary);
}
.form-submit input{
    width: 40%;
    cursor: pointer;
    padding: 1%;
    margin-right: -1%;
    border: none;
    background: var(--color-primary);
    color: white;
}

@media screen and (max-width: 1366px) {
    .hero-info{
        left: 20%;
    }
    .contact-form-container{
        padding: 3%;
        padding-bottom:0 ;
    }
    .contact-form-container form input, .contact-form-container form textarea{
        font-size: 1.2rem;
    }
    .project-cta a{
        font-size: 1.25rem;
    }
}
@media screen and (max-width: 1080px){
    nav ul{
        display: none;
    }
    nav{
        padding: 2%;
    }
    .burger{
        display: flex;
        flex-flow: column;
        cursor: pointer;
        font-size: 2rem;
    }
    .burger:hover{
        color: var(--color-secondary);
    }

    .hero-info{
        left: 10%; 
        bottom: 0; 
        right: 0;
    }
    .about-container{
        flex-flow: column;
    }
    .about-container .about-info, .about-exp{
        width: 100%;
        text-align: center;
    }
    .about-exp{
        margin: 5% 0;
    }

    .portfolio-container{
        flex-flow: column;
    }
    .portfolio-container .portfolio-card{
        width: 90%;
        margin: 2.5% auto;
    }

    .contact-container img{
        display: none;
    }
    .contact-container .contact-form-container{
        width: 100%;
        z-index: 1;
    }
    .contact-form-container .section-name, .contact-form-container .section-title{
        text-align: center;
    }
    .form-submit{
        flex-flow: column-reverse;
        margin: auto;
    }
    .contact-form-container .form-submit input{
        margin: auto;
    }
    .social-links{
        width: 100%;
        justify-content: center;
        margin-top: 3%;
    }
}
@media screen and (max-width: 760px){
    nav h1{
        font-size: 1.75rem;
    }
    .hero-container{
        flex-flow: column;
        font-size: 1.25rem;
    }
    .about-container{
        width: 90%;
    }
    .about-container .about-info{
        font-size: 1.25rem;
        margin: 5% 0;
    }
    .hero-greeting h2{
        text-align: center;
    }
    .portfolio-container{
        width: 100%;
    }
    #about{
        width: 90%;
        margin: auto;
    }
}